.main_container {
  height: 465px;
  width: 93vw;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw;
  grid-template-rows: 80px 305px 80px;
  border-radius: 20px;
  overflow: hidden;
  perspective: 1px;
  box-shadow: 5px 8px #000000;
  grid-template-areas:
    "header header header header header header info "
    "main main main main main main main  "
    "footer footer footer footer footer footer footer ";
}
.main_container_flicker {
  height: 465px;
  width: 93vw;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw;
  grid-template-rows: 80px 305px 80px;
  border-radius: 20px;
  overflow: hidden;
  perspective: 1px;
  position: absolute;
  box-shadow: 5px 8px #000000;
  animation: flickerAnimation 1.3s;
  animation-iteration-count: 1;
  grid-template-areas:
    "header header header header header header info "
    "main main main main main main main  "
    "footer footer footer footer footer footer footer ";
}
@keyframes flickerAnimation {
  0% {
    opacity: 1;
    left: -115px;
  }
  50% {
    opacity: 0;
    left: -350px;
  }
  100% {
    opacity: 1;
  }
}

.main_container_flicker_right {
  height: 465px;
  width: 93vw;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw;
  grid-template-rows: 80px 305px 80px;
  border-radius: 20px;
  overflow: hidden;
  perspective: 1px;
  position: absolute;
  box-shadow: 5px 8px #000000;
  animation: flickerAnimationRight 1.3s;
  animation-iteration-count: 1;
  grid-template-areas:
    "header header header header header header info "
    "main main main main main main main  "
    "footer footer footer footer footer footer footer ";
}
@keyframes flickerAnimationRight {
  0% {
    opacity: 1;
    right: -115px;
  }
  50% {
    opacity: 0;
    right: -350px;
  }
  100% {
    opacity: 1;
  }
}

.item-a {
  grid-area: header;
  background-color: #ffffff;
  text-align: left;
  padding-left: 10px;
  padding-top: 11px;
  vertical-align: middle;
  font-size: 26px;
  font-family: "EB Garamond", serif;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
  line-height: 1.15em;
}
.item-b {
  grid-area: info;
  background-color: #ffffff;
  text-align: right;
  padding-right: 14px;
  font-size: 20px;
  padding-top: 12px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}
.item-c {
  grid-area: circles;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  color: black;
  font-weight: bold;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.item-c.space-between {
  justify-content: space-between;
}

.item-d {
  grid-area: main;
  background-color: #ffffff;
  text-align: left;
  word-wrap: break-word;
}
.item-e {
  grid-area: footer;
  background-color: #ffffff;
}
.content {
  margin: 0em;
  color: black;
  margin-top: 15px;
  margin-left: 5px;
  font-family: "EB Garamond", serif;
  line-height: 1em;
  font-size: 24px;
}
.house_logo {
  height: 45px;
  width: 45px;
  float: right;
  margin-right: 35px;
  margin-top: -65px;
}
.info_logo {
  height: 45px;
  width: 45px;
  float: right;
  margin-right: 35px;
  margin-top: -41px;
}
.content1 {
  margin: 0em;
  color: black;
  margin-top: 8px;
  margin-left: 5px;
  padding-top: 55px;
  font-family: "EB Garamond", serif;
  line-height: 1.2em;
  padding-bottom: 5px;
  font-size: 24px;
}

.reject {
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 1;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: -3px 37px 37px;
  border-radius: 50%;
  background-color: #ffffff;
  border-color: red;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  color: red;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
}
.accept {
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 1;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: -2px 37px 37px;
  border-radius: 50%;
  background-color: #ffffff;
  border-color: green;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  color: green;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
}

@media only screen and (min-width: 414px) {
  .main_container_flicker {
    height: 465px;
    width: 93vw;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw;
    grid-template-rows: 80px 305px 80px;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
    position: absolute;
    box-shadow: 5px 8px #000000;
    animation: flickerAnimation 1.3s;
    animation-iteration-count: 1;
    grid-template-areas:
      "header header header header header header info "
      "main main main main main main main  "
      "footer footer footer footer footer footer footer ";
  }
  @keyframes flickerAnimation {
    0% {
      opacity: 1;
      left: -125px;
    }
    50% {
      opacity: 0;
      left: -400px;
    }
    100% {
      opacity: 1;
    }
  }

  .main_container_flicker_right {
    height: 465px;
    width: 93vw;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw;
    grid-template-rows: 80px 305px 80px;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
    position: absolute;
    box-shadow: 5px 8px #000000;
    animation: flickerAnimationRight 1.3s;
    animation-iteration-count: 1;
    grid-template-areas:
      "header header header header header header info "
      "main main main main main main main  "
      "footer footer footer footer footer footer footer ";
  }
  @keyframes flickerAnimationRight {
    0% {
      opacity: 1;
      right: -125px;
    }
    50% {
      opacity: 0;
      right: -400px;
    }
    100% {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main_container_flicker {
    height: 465px;
    width: 93vw;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw;
    grid-template-rows: 80px 305px 80px;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
    position: absolute;
    box-shadow: 5px 8px #000000;
    animation: flickerAnimation 1.3s;
    animation-iteration-count: 1;
    grid-template-areas:
      "header header header header header header info "
      "main main main main main main main  "
      "footer footer footer footer footer footer footer ";
  }
  @keyframes flickerAnimation {
    0% {
      opacity: 1;
      left: -500px;
    }
    50% {
      opacity: 0;
      left: -1000px;
    }
    100% {
      opacity: 1;
    }
  }

  .main_container_flicker_right {
    height: 465px;
    width: 93vw;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw 13.28vw;
    grid-template-rows: 80px 305px 80px;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
    position: absolute;
    box-shadow: 5px 8px #000000;
    animation: flickerAnimationRight 1.3s;
    animation-iteration-count: 1;
    grid-template-areas:
      "header header header header header header info "
      "main main main main main main main  "
      "footer footer footer footer footer footer footer ";
  }
  @keyframes flickerAnimationRight {
    0% {
      opacity: 1;
      right: -500px;
    }
    50% {
      opacity: 0;
      right: -1000px;
    }
    100% {
      opacity: 1;
    }
  }
}
