<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V10</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="container-contact100">

		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/settings" method="post">
				<span class="contact100-form-title">
					Admin Dashboard
				</span>

				<div class="wrap-input100 validate-input" data-validate="Please enter a Precinct ID">
					<input class="input100" type="text" name="precinct_id" value=<%= @precinct_id %> >
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Update
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
