<div class="container-contact100">
  <section class="container-stats">
    <div class="item-houses">
      Houses Visited
      <br>
      <br>
      <%= @houses %>
    </div>
    <div class="item-volunteers">
      Number of Volunteers
      <br>
      <br>
      <%= @volunteers %>
    </div>
  </section>
</div>
