.login-form {
  background-color: #13232f;
  font-family: "Titillium Web", sans-serif;
  box-shadow: 0 0 12px #2d2d2d;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}
.bground{
  background-color: #dfdfdf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.headingsub {
  text-align: left;
  color: black;
  font-size: 15px;
  margin-top:-5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
}

.inp {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #13232f;
  color: #19ff93;
  border: 2px solid white;
  box-sizing: border-box;
  font-size: 18px;
  margin-top: -8px;
}
::placeholder {
  color: white;
  opacity: 1;
}

.inp:focus {
  border: 2px solid #1ab188;
}

.login {
  background-color: #1ab188;
  color: white;
  border: 2px solid #1ab188;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 35px;
  font-size: 25px;
}
.container {
  padding: 16px;
}
.lbl {
  color: white;
  font-size: 20px;
  text-align: left;
}
.heading{
    text-align: center;
    color:black;
    font-size: 25px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top:-30px;
  }
  @media only screen and (min-width: 325px) {
    .heading{
      text-align: center;
      color:black;
      font-size: 30px;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
    .headingsub {
      text-align: left;
      color: black;
      font-size: 19px;
      margin-top:-5px;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-weight: bold;

    }
  }